body{
    text-align: center;
    
}
.logo{
    width: 1500px;
}
#one{
  height: 300px;
    width: 300px;
}
#two{
    height: 300px;
    width: 300px; 
}
#third{
   height: 300px;
    width: 300px;  
}
#fourth{
    height: 300px;
    width: 300px; 
}
#fifth{
   height: 300px;
    width: 300px;  
}
#sixth{
   height: 300px;
    width: 300px;  
}
#seventh{
     height: 300px;
    width: 300px;
}
#eight{
    height: 300px;
    width: 300px; 
}




